.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 48px;
    width: 100%;
}

.container-card {
    position: relative;
}

.container-searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-delete-card {
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    width: 30px;
    transition: background-color 0.3s ease;
}

.btn-delete-card:hover {
    background-color: #c82333;
}
