.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.container-searchbar {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.btn-delete-card {
    position: absolute;
    right: 10px;
    top: 10px;
}