.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    background-color: #F0F0F0;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
}

.container-card {
    border-radius: 10px;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.container-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.container-searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 64px;
    box-sizing: border-box;
}

.btn-delete-card {
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    width: 30px;
    opacity: 100;
    transition: background-color 0.3s ease;
}

.btn-delete-card:hover {
    background-color: #c82333;
}

.empty-msg {
    font-size: 48px;
    width: 100%;
    max-width: 100%;
    font-size: calc(1rem + 1vw);
    text-align: center;
}