.card-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  padding: 20px;
  width: 300px;
  max-width: 100%;
}

.card-title {
  font-size: 48px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(1rem + 1vw);
  text-align: center;
}

.card-content {
  width: 100%;
}

.card-date-container {
  padding-top: 15px;
  width: 100%;
}

.card-date {
  text-align: center;
  width: 100%;
}

.card-temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-temperature {
  text-align: center;
  font-size: 48px;
  width: 100%;
}

.card-weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.card-temperature-range {
  width: 100%;
  text-align: center;
  padding-top: 15px;
}