.details-container>div {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 280px;
    max-width: 100%;
}

.details-title {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(1rem + 1vw);
}

.title-section {
    margin-bottom: 10px;
    text-decoration: underline;
}

.details-container {
    background-color: #4169E1;
    color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.details-container.d {
    background-color: #4169E1;
}

.details-container.n {
    background-color: #1F2833;
}

.details-weather-status-item {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 5px;
}

.details-weather-status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}